# SPDX-FileCopyrightText: 2021 Tezos Commons
# SPDX-License-Identifier: LicenseRef-MIT-TC

.stack-work/

# Build output
out

# Haskell library resources
/haskell/resources

# npm
/typescript/baseDAO/node_modules
/typescript/baseDAO/yarn-error.log
/typescript/baseDAO/dist

# generated ligo
/src/implementation.mligo
/src/implementation_storage.mligo
